.newsticker {
	position: relative;
	height: 280px;
	width: 300px;
	overflow: hidden;
	border: 1px solid grey;
}

.first {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	zoom: 0.8;
	padding: 10px;
	background-color: #FFF;
	height: 450px;
	width: 350px;
	border: 1px solid blue;
}

.second {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	zoom: 0.8;
	padding: 10px;
	background-color: #FFF;
	height: 450px;
	width: 350px;
}

.newsticker img {
	zoom: 0.5;
}