<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
>
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/firebase-element/firebase-collection.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">


<dom-module id="firebase-chat">
  <template>
    <style is="custom-style" include="iron-flex iron-flex-alignment iron-flex-factors"></style>
    <firebase-collection id="firebase"
      location="{{location}}" data="{{messages}}"></firebase-collection>
    <paper-material elevation="2">
      <div style="height:150px; overflow-y:auto; padding: 5px;">
        <iron-list id="itemlist" items="{{messages}}" as="message">
          <template>
            <div>
              [[message.name]] says: <span>[[message.text]]</span>
            </div>
          </template>
        </iron-list>
      </div>
    </paper-material>
    <div class="layout horizontal">
      <div class="flex-1">
        <paper-input label="Username" value="{{message.name::input}}"></paper-input>
      </div>
      <div class="flex-3" style="margin-left:5px;">
        <paper-input label="Message to send" value="{{message.text::input}}" id="message"></paper-input>
      </div>
    </div>
    <paper-button on-click="addMessage">Send message</paper-button>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'firebase-chat',

      properties: {
        location: String,
        messages: {               // data returned from firebase
          type: Object,
          notify: true
        },
        message: {   // Compound value consisting of username and text to send
          type: Object,
          value: function () {
            return {
              name: '',
              text: ''
            };
          }
        }
      },
      observers: [
        'messagesChanged(messages.splices)'
      ],
      messagesChanged: function () {
        var list = this.$.itemlist.$.items;
        list.parentNode.parentNode.scrollTop = list.lastChild.parentElement.children[list.lastChild.parentElement.children.length-1].getBoundingClientRect().top;
      },
      addMessage: function() {
        if (this.message.name!=''&&this.message.text!='') {
          this.$.firebase.add(this.message);          // Add the object to firebase
          this.$.message.value = '';                  // Clear the message field 
          this.$.message.focus();
        }
      }
    });
  })();
  </script>
</dom-module>
